<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Wakimae</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap"
			rel="stylesheet"
		/>

		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
	</head>
	<body
		class="bg-neutral-900 min-h-screen flex items-center justify-center font-['Kosugi_Maru'] p-4"
	>
		<div class="container">
			<h1
				class="text-4xl md:text-6xl text-neutral-50 text-center mb-4"
				lang="ja"
			>
				わきまえ
			</h1>
			<p class="text-xl md:text-3xl text-neutral-400 text-center">
				understanding context and acting appropriately
			</p>
		</div>
	</body>
</html>
